.sobreNosotros__texto {
  line-height: normal;
  margin-bottom: 1rem;
}

.sobreNosotros__texto--destacado{

} 
.sobreNosotros__texto--division{

}
@media screen and (min-width: 1024px) {

  .sobreNosotros__texto--division {
      border-bottom: 1px solid var(--cinza-medio);
      padding-bottom: 1.5rem;
  }
  
}